body{
font-family: sans-serif;
margin: 0;  
}
h1{
    font-size: 50px;
}
.firstc{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    margin-right: 2%;
}
.half-width img{
    width: 100%;
}
.top{
    background-image: url("images/top.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.linkbutton{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    color: white;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}