body{
font-family: sans-serif;
margin: 0;  
}
h1{
    font-size: 50px;
}

.firstc{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    margin-right: 2%;
}
.half-width img{
    width: 100%;
    position: relative;
}
.top{
    background-image: url("images/top.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 125px;
}
.linkbutton{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    color: white;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-Experiance{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 45%;
    padding: 15px;
    background-color: white;
}
.experiances{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#full-stack{
    border: 5px solid;
    border-image: linear-gradient( lightsalmon,tomato);
   
}
#baby-web{
    border: 5px solid;
    border-image: linear-gradient( blue,cyan);
    
}
footer p{
    text-align: center;
    color: blue;
    font-size: 20px;
}